@page "/"
@inject NavigationManager NavigationManager

<div class="text-center">Loading...</div>


@code{
    protected override async Task OnInitializedAsync()
    {
        var appDirectory = AppDomain.CurrentDomain.BaseDirectory;

        await HandleFileAsync(appDirectory, "scriptures.db", "scriptures-32-16.db");
        // await HandleFileAsync(appDirectory, "model.onnx", "msmarco-distilbert-base-v3.onnx");
        await HandleFileAsync(appDirectory, "model.onnx", "all-MiniLM-L6-v2.onnx");
        await HandleFileAsync(appDirectory, "vocab.txt", "all-MiniLM-L6-v2-vocab.txt");

        NavigationManager.NavigateTo("/search");
    }

    private async Task HandleFileAsync(string directoryPath, string targetFileName, string sourceFileName)
    {
        if (!Directory.Exists(directoryPath))
        {
            Directory.CreateDirectory(directoryPath);
        }

        var targetFilePath = Path.Combine(directoryPath, targetFileName);

        if (!File.Exists(targetFilePath))
        {
            using var sourceStream = await FileSystem.OpenAppPackageFileAsync(sourceFileName);
            using var fileStream = File.Create(targetFilePath);
            await sourceStream.CopyToAsync(fileStream);
        }
    }
}
